* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FDFFF9;
}

    /* seccion index */


.portada-index {
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../mili/galeria/portada1.jpg)
    
}
.txt-indx {
    padding: 5px;
    width: 340px;
    height: 100px;
    overflow: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:cornsilk;
    
    
}

a:link { color: blue; }/* Enlaces no visitados */
a:visited { color: purple; }/* Enlaces visitados */
a:hover { background: rgba(0, 0, 0, 0.267); }/* El usuario esta sobre el enlace */
a:active { color: rgba(255, 7, 7, 0.24); }/* Enlaces activos */

.navbar:hover {
    transform: translateZ(0);
}

.img-index-animation:hover {
    transform: scale(1.1);
    transition: all 1s;
}

.grid-containeruno {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    width: 100%;

}

.link {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: royalblue;


}

nav ul li {
    display: inline-block;
    margin: 10px;
    padding: 10px;

}

@media all and (max-width: 600px) {
    .container-uno-index{
        grid-column: 1 / span 3;
        margin: 10px;
    }
}

@media all and (max-width: 600px) {
    .navbar{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    
    }
    

}

ol, ul {
    padding-left: 0rem;
}



    /* fin seccion index     */



    /* seccion acerca de vartex */

.portada-acercadevartex {
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../mili/acercadevartex/portadaacercadevartex.jpg);
}

.txt-acdv {
    padding: 5px;
    width: 510px;
}

.grid-containertres {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 70px;
    justify-content: center;
    
}

.img-maquinas {
    margin: 80px;
} 




    /* fin seccion acerca de vartex */

    /* titulos */

.titulo1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 40px;
    margin: 30px;
}





.titulo2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 50px;

}

    /* fin titulos */




    /* seccion galeria */

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    padding: 40px;
    gap: 60px;

}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    filter: opacity(0.9);
    
}




    /* fin seccion galeria */





    /* empieza el footer */
.pie-pagina {
    width: 100%;
    background-color:azure;

}

.pie-pagina .grupo-1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.pie-pagina .grupo-1 .box h2{
    color: black;
    margin-bottom: 5px;
    font-size: 13px;

}



.pie-pagina .grupo-1 .box li {
    color: black;
    margin-bottom: 5px;
    text-decoration: none;
    list-style-type: none;
    font-size: 10px;
    

}
.pie-pagina .grupo-2{
    background-color: black;
    padding: 5px 5px;
    text-align: center;
    color: white;
    font-size: 12px;

}
    /* termina el footer */