.txt-footer {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}


.pie-pagina {
    width: 100%;
    background-color: map-get($footer,fr-bg-color);

}

.pie-pagina .grupo-1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.pie-pagina .grupo-1 .box h2{
    color: black;
    margin-bottom: 5px;
    font-size: 13px;

}



.pie-pagina .grupo-1 .box li {
    color: black;
    margin-bottom: 5px;
    text-decoration: map-get($footer, fr-decoration);
    list-style-type: map-get($footer, fr-lyststyle);
    font-size: 10px;
    

}
.pie-pagina .grupo-2{
    background-color: map-get($footer, bg-color);
    padding: 5px 5px;
    text-align: center;
    color: white;
    font-size: 12px;

}