* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FDFFF9;
}


.portada-index {
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../mili/galeria/portada1.jpg)
    
}
.txt-indx {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    padding: 5px;
    width: 340px;
    height: 100px;
    overflow: hidden;
}

.nav-bar-color {
    background-color: rgba(248, 239, 239, 0.397);
}

.mod-boton {
    background-color: rgba(250, 249, 249, 0.541);
   border-color: rgba(0, 0, 0, 0.404);
   color: rgba(49, 48, 48, 0.788);
    
    
}

a:link { color: blue; }/* Enlaces no visitados */
a:visited { color: purple; }/* Enlaces visitados */
a:hover { background: rgba(0, 0, 0, 0.267); }/* El usuario esta sobre el enlace */
a:active { color: rgba(255, 7, 7, 0.24); }/* Enlaces activos */



.img-index-animation:hover {
    transform: scale(1.1);
    transition: all 1s;
}

.grid-containeruno {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    width: 100%;

}

.link {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: royalblue;
}


nav ul li {
    display: inline-block;
    margin: 10px;
    padding: 10px;

}

@media all and (max-width: 600px) {
    .container-uno-index{
        grid-column: 1 / span 3;
        margin: 10px;
    }
}